@import "tailwindcss";
@plugin "daisyui";
@plugin "@tailwindcss/typography";

@font-face {
  font-family: 'Overpass';
  src: url('/src/assets/fonts/Overpass.woff2') format('woff2');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@theme {
  --font-sans: 'Overpass';
}

@plugin "daisyui/theme" {
  name: "ligthTheme";
  default: false;
  --color-primary: #ecf1f5;
  --color-secondary: #39456e;
  --color-secondary-content: #131d3f;
  --color-accent: #e1e9f0;
  --color-info: #01bebe;
  --color-info-content: #02a5a5;
  --color-neutral: #3d4451;

  --color-neutral1: #01bebe;
  --color-neutral1-content: #bbbbbb;

}

@plugin "daisyui/theme" {
  name: "darkTheme";
  default: false;
  --color-primary: #131d3f;
  --color-secondary: #cfd7f1;
  --color-secondary-content: #edf1ff;
  --color-accent: #1f2c55;
  --color-info: #01bebe;
  --color-info-content: #02a5a5;
  --color-neutral: #3d4451;

  --color-neutral1: #01bebe;
  --color-neutral1-content: #bbbbbb;
}

html {
  scroll-behavior: smooth;
  min-width: 400px;
  overflow: auto;
}

.steps .step:after {
  color: white;
}

@layer components {
  .linknav {
    position: relative;
  }

  .linknav:hover::after {
    transform: scale(1, 1);
  }

  .activeEfect:active {
    transform: scale(0.95);
    transition: transform 0.2s;
    cursor: pointer;
  }

  .linknav::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 0;
    background-color: #01bebe;
    border-radius: 20px;
    transform: scale(0, 1);
    transition: transform 0.2s ease;
  }

  .gridColumns {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 350px), 1fr));
  }

  .gridSkills {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 250px), 1fr));
  }

  .bgTexture {
    background-image: url('/src/assets/images/bgtexture.svg');
  }

  .zoom-effect {
    transform: scale(.9);
    animation: slide-origin 200ms ease forwards;
  }

  .zoom-effect-letter {
    transform: scale(.9);
    animation: slide-origin 1000ms ease forwards;
  }


  .slide-up-min {
    transform: translateY(50px);
    animation: slide-origin 800ms ease forwards;
  }

  @keyframes slide-origin {
    0% {
      opacity: 0;
    }

    100% {
      transform: translate(0px)
    }
  }

  .slide-up {
    animation: slide-up 200ms ease forwards;
    transform: translateY(100%);
  }

  @keyframes slide-up {
    to {
      transform: translateY(0px);
    }
  }

  .slide-down {
    animation: slide-down 200ms ease forwards;
    transform: translateY(-100%);
  }

  @keyframes slide-down {
    to {
      transform: translateY(0px);
    }
  }

}

@layer base {
  ::-webkit-scrollbar {
    width: 20px;
    height: 20px;
  }

  ::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #f7f4ed;
  }

  ::-webkit-scrollbar-thumb {
    background: #e0cbcb;
    border-radius: 100vh;
    border: 3px solid #f6f7ed;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #c0a0b9;
  }
}