@tailwind base;
@tailwind components;
@tailwind utilities;

html {

  min-width: 400px;
  overflow: auto;
}

@font-face {
  font-family: overpass;
  src: url('/src/assets/fonts/Overpass.woff2') format('woff2');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

h1 {
  color: #0000
}

@layer components {
  .linknav {
    position: relative;
  }

  .linknav:hover::after {
    transform: scale(1, 1);
  }

  .activeEfect:active {
    transform: scale(0.95);
    transition: transform 0.2s;
    cursor: pointer;
  }

  .linknav::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 0;
    background-color: #01bebe;
    border-radius: 20px;
    transform: scale(0, 1);
    transition: transform 0.2s ease;
  }

  .gridColumns {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 350px), 1fr));
  }

  .gridSkills {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 250px), 1fr));
  }

  .bgTexture {
    background-image: url('/src/assets/images/bgtexture.svg');
  }

  .zoom-effect {
    transform: scale(.9);
    animation: slide-origin 500ms ease forwards;
  }

  .slide-up-min {
    transform: translateY(50px);
    animation: slide-origin 500ms ease forwards;
  }

  @keyframes slideOrigin {
    0% {}

    100% {
      transform: translateY(0px);
      animation: none;
    }
  }

  ::-webkit-scrollbar {
    width: 5px;
    height: 7px;
    background-color: #131d3f;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: #66769b;
  }

}